.Sidebar {
	background-color: #d5d5d5; /*weird green*/
	display: inline-block;
	float: left;
	height: 100vh;
	padding: 1rem;
	width: 25%; 
}

@media all and (max-width: 500px) {
	.Sidebar {
		width: 50%;
	}
}

@media all and (min-width: 1200px) {
	.Sidebar {
		width: 25%;
	}
}